.label {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 5px black;
}
.filter {
  display: block;
  margin: 0 auto;
  // margin-left: auto;
  // margin-right: auto;
  width: 140px;
  padding: 0 15px;
  margin-top: 5px;
  border-width: 0;
  line-height: 40px;
  border-radius: 10px;
  color: white;

  background: rgba(255, 255, 255, 0.2);
}

.loadMore {
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  border: 2px solid red;
  color: white;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 20px;
  &:hover,
  &:focus {
    box-shadow: #710303 180px 0px 1px inset;
    font-weight: bold;
    border-color: white;
  }
}

.title__change {
  text-align: center;
  color: white;
  font-size: 25px;
  text-shadow: 1px 1px 5px black;
}
.modal__close {
  position: absolute;
  top: 15%;
  left: 80%;

  display: block;
  margin: 0 auto;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: rgb(255, 55, 0) 180px 0px 1px inset;
    font-weight: bold;
  }
}
.modal__close:hover {
  background-position: right center;
  border-color: white;
}
.champinship {
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 5px black;
}
