.title__change {
  text-align: center;
  color: white;
  font-size: 25px;
  text-shadow: 1px 1px 5px black;
}
.modal__close {
  position: absolute;
  top: 5%;
  left: 82%;

  display: block;
  margin: 0 auto;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: rgb(255, 55, 0) 180px 0px 1px inset;
    font-weight: bold;
  }
}
.modal__close:hover {
  background-position: right center;
  border-color: white;
}
.champinship {
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 5px black;
}
