@import "../../Shared/styles/index";

.list {
  padding-left: 0;
}
.infoListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // height: 40px;
  border: 2px solid red;
  border-radius: 5px;
  margin-top: 10px;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
  }
}
.info {
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 5px black;
  margin-bottom: 0;
}
.buttonDelete {
  display: block;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    font-weight: bold;
    border: 1px solid white;
  }
}
