.addStat {
  display: block;
  margin: 0 auto;
  padding: 20px 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  border: 2px solid red;
  color: white;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 20px;
  &:hover,
  &:focus {
    box-shadow: #710303 180px 0px 1px inset;
    font-weight: bold;
    border-color: white;
  }
}
