@import "./Shared/styles/index";

body {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", sans-serif;

  background: rgb(36, 10, 0);
  background: linear-gradient(
    to left,
    rgba(36, 10, 0, 1) 0%,
    rgba(181, 5, 5, 1) 68%,
    rgba(255, 0, 0, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
