@import "../../Shared/styles/index";

.headerPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statLink {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  height: 60px;

  letter-spacing: 1px;
  padding: 15px 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
  color: white;
  box-shadow: inset 0 -5px 0 red;
  &:hover,
  &:focus {
    box-shadow: inset 0 -160px 0 red, 5px 5px 7px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
    outline: none;
  }
}
.title {
  text-align: center;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 5px black;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.gallery {
  margin-bottom: 40px;

  display: grid;
  justify-items: center;
  max-width: calc(100vw - 28px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
}
.fotos {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
}
.foto {
  object-fit: cover;
  width: 290px;
  height: 400px;
  @media screen and (min-width: $tablet) {
    width: 320px;
  }
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.03);
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
  }
}
